#
# EtherCAT master kernel modules
#

[Unit]
Description=Runs the brain code

#Requires=ethercat.service
After=ethercat.service
#Before=network.service

[Service]
Type=simple
#RemainAfterExit=yes
ExecStart=/home/pi/EtherCATmaster/run.sh
User=pi
#ExecStop=/usr/local/sbin/ethercatctl stop

[Install]
WantedBy=multi-user.target
